.main-content-flex, .content-box {
    display: flex;
}

.content-box {
    gap: 80px;
    margin-bottom: 20px;
}

.ads-box {
    height: 100px;
    width: 1000px;
    font-size: 49px;
    font-family: 'Courier New', Courier, monospace;
    color: #a4c214;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item {
    text-decoration: none;
    font-size: 20px;
    color:rgb(39, 75, 183);
    font-weight: 600;
}

.news-navbar {
    gap: 15px;
    display: flex;
    align-items: baseline;
}

.search-nav {
    display: flex;
    gap: 15px;
    align-items: baseline;
}



.form-box input {
    width: 800px;
    height: 40px;
}

.form-box button {
    width: 80px;
    height: 40px;
}

.headline-icon {
    width: 15px;
    height: 15px;
}

.headline-box {
    display: flex;
    gap: 4px;
    align-items: center;
}

.plot-header {
    text-decoration: none;
    color: rgb(28, 24, 24);
}

.shares-box {
    display: flex;
    gap: 20px;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 220px;
    gap: 10px;
}

.news-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}


.widgets-box {
    display: flex;
    gap: 30px;
    align-items: baseline;
}